body {

  background-color: #222222;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  line-height: 6;
  font-size: 70px;
  text-align: center;
  color: white;
}

.button {
  position: absolute;
  top:50%;
  left:50%;
  margin-top: 40px;
  transform: translate(-50%, -50%); 
  background-color: brown;
  color: white;
  min-height:50px; 
  min-width: 200px;
}

#shuffleBtn{
background-color: brown;
color: white;
min-height:50px; 
min-width: 200px;
position: absolute;
top:70%;
left:470px;
margin-top: 40px;
transform: translate(-50%, -50%); 
}

#draw-img{
  position: relative;
  top: 150px;
  left:350px;  
  background-color: white;
  color: white;
  margin: 5px;
  float: left;
  box-shadow: 10px 10px 2px -3px gray;
  border-style: dashed;
  border-width: thin;
}

#discard-img{
  position: relative;
  top: 150px;
  right: 350px;
  background-color: white;
  color: white;
  margin: 5px;
  float: right;
  border-style: dashed;
  border-width: thin;
  }

