body {
    background-color: #222222;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }
  
h1 {
    line-height: 6;
    font-size: 70px;
    text-align: center;
    color: white;
  }

.button {
    position: absolute;
    top:50%;
    left:50%;
    margin-top: 40px;
    transform: translate(-50%, -50%); 
    background-color: brown;
    color: white;
    min-height:50px; 
    min-width: 200px;
}

#shuffleBtn{
  background-color: brown;
  color: white;
  min-height:50px; 
  min-width: 200px;
}